<a href="https://colab.research.google.com/github/lafarciola/Maratona-Data-Science-QODA/blob/master/Fase2R_Marcelo_Lafarciola.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Seja ensinável e execute as tarefas compartilhadas. Por fins didáticos e para melhor separação mental das sintaxes Python/R, realizaremos todos os exercícios de Python em R.
![alt text](https://media.tenor.com/images/51e469036910eb2ece677863200af5a8/tenor.gif)

Crie um algoritmo em R que peça uma nota, entre 0 e 100. Mostre uma mensagem caso o valor seja inválido e continue pedindo até que o usuário informe um valor válido.

In [0]:
# INSIRA SEU CÓDIGO AQUI

repeat{
  nota <- as.integer(readline("Digite uma nota de 0 a 100: "))
  if(nota>0 && nota<100){
    print("Correto")
    break
  }
  else
    print("Valor inválido, tente novamente.")
    
  
  
}

Crie um algoritmo em R que leia um nome de usuário e a sua senha e não aceite a senha igual ao nome do usuário, mostrando uma mensagem de erro e voltando a pedir as informações.<br>

In [63]:
# INSIRA SEU CÓDIGO AQUI
login <- as.character(readline("Digite seu usuário: "))
senha <- as.character(readline("Digite sua senha: "))
print(c(login,senha))

while (TRUE){
  if(login==senha){
    print("Sua senha não pode conter seu nome.")
    flush.console()
    login <- as.character(readline("Digite seu usuário: "))
    senha <- as.character(readline("Digite sua senha: "))
  }else{
    FALSE
  }
}

Digite seu usuário: marcelo
Digite sua senha: marcelo
[1] "marcelo" "marcelo"
[1] "Sua senha não pode conter seu nome."
Digite seu usuário: marcelo
Digite sua senha: marcelo
[1] "Sua senha não pode conter seu nome."
Digite seu usuário: marcelo
Digite sua senha: laura

Crie um algoritmo em R que leia e valide as seguintes informações:
* Nome: maior que 3 caracteres;
* Idade: entre 0 e 150;
* Salário: maior que zero;
* Sexo: 'f' ou 'm';
* Estado Civil: 's', 'c', 'v', 'd';

In [116]:
# INSIRA SEU CÓDIGO AQUI
nome <- as.character(readline("Digite seu nome: "))
idade <- as.integer(readline("Digite a sua idade: "))
salario <- as.numeric(readline("Digite o seu salário: "))
sexo <- readline("Digite o seu sexo: ")
estadoc <- readline("Digite o seu estado civil: ")

while (TRUE){
  if (nchar(nome)<3){
    print("Digite um nome com mais de 3 letras.")
    flush.console()
    nome <- as.character(readline("Digite seu nome: "))
  }else{
    FALSE
  }
  while (TRUE){
  if ((idade > 150 ) || (idade < 0)){
    print("Digite uma idade válida.")
    flush.console()
    idade <- as.integer(readline("Digite a sua idade: "))
  }else{
    FALSE
  }
  while (TRUE){
  if ((salario < 0)){
    print("Digite um salario maior que 0.")
    flush.console()
    salario <- as.numeric(readline("Digite o seu salário: "))
  }else{
    FALSE
  }
  while (TRUE){
  if ((substr(sexo, 1, 1)) != "m" && (substring(sexo, 1, 1)) != "f"){
    print("Digite um sexo válido.")  
    flush.console()  
    sexo <- readline("Digite o seu sexo: ")
  }else{
    FALSE
  }
  while (TRUE){
  if ((substr(estadoc, 1, 1)) != "s" && (substr(estadoc, 1, 1)) != "c" &&
      (substr(estadoc, 1, 1)) != "v" && (substr(estadoc, 1, 1)) != "d"){
    print("Digite um estado civil válido.")  
    flush.console()  
    estadoc <- readline("Digite o seu estado civil: ")
  }else{
    FALSE
  }
}
}
}
}
}

Digite seu nome: marcelo
Digite a sua idade: 20
Digite o seu salário: 200
Digite o seu sexo: masculino
Digite o seu estado civil: lia
[1] "Digite um estado civil válido."
Digite o seu estado civil: solteiro

Desenvolva um gerador de tabuada, capaz de gerar a tabuada de qualquer número inteiro entre 1 a 10. O usuário deve informar de qual numero ele deseja ver a tabuada. A saída deve ser conforme o exemplo abaixo:
Tabuada de 5:<br>
5 X 1 = 5<br>
5 X 2 = 10<br>
...<br>
5 X 10 = 50<br>

In [138]:
# INSIRA SEU CÓDIGO AQUI
x <- as.integer(readline("Digite o número desejado para a tabuada: "))

for (tab in 1:10){
  numero=tab*x
  print(sprintf("%i x %i = %i",x,tab,numero))

}

Digite o número desejado para a tabuada: 4
[1] "4 x 1 = 4"
[1] "4 x 2 = 8"
[1] "4 x 3 = 12"
[1] "4 x 4 = 16"
[1] "4 x 5 = 20"
[1] "4 x 6 = 24"
[1] "4 x 7 = 28"
[1] "4 x 8 = 32"
[1] "4 x 9 = 36"
[1] "4 x 10 = 40"

Crie um algoritmo em R que leia três números e mostre o maior e o menor deles.

In [142]:
# INSIRA SEU CÓDIGO AQUI
x <- as.integer(readline("Digite um número:"))
y <- as.integer(readline("Digite um outro número:"))
z <- as.integer(readline("Digite um outro número:"))

print(max(c(x,y,z)))
print(min(c(x,y,z)))

Digite um número:3
Digite um outro número:5
Digite um outro número:9
[1] 9
[1] 3

Crie um algoritmo em R que peça 2 números, base e expoente, calcule e mostre o primeiro número elevado ao segundo número. Não utilize a função de potência da linguagem.

In [145]:
# INSIRA SEU CÓDIGO AQUI
base <- as.numeric(readline("Digite um número para a base: "))
expoente <- as.numeric(readline("Digite um número para o expoente: "))

valor=base**expoente
print(valor)

Digite um número para a base: 2
Digite um número para o expoente: 3
[1] 8

Crie um algoritmo em R que peça 10 números inteiros, calcule e mostre a quantidade de números pares e a quantidade de números impares.

In [157]:
# INSIRA SEU CÓDIGO AQUI
listanum <- c()

for (i in 1:10){
  x <- as.numeric(readline("Digite um número: "))
  listanum <- append(listanum,x)
}

par=0
imp=0
for (i in listanum){
  if(i %% 2 ==0){
    par=par+1
  }else{
    imp=imp+1
  }
}
print(par)
print(imp)

Digite um número: 1
Digite um número: 2
Digite um número: 3
Digite um número: 4
Digite um número: 5
Digite um número: 6
Digite um número: 7
Digite um número: 8
Digite um número: 9
Digite um número: 10
[1] 5
[1] 5

Um funcionário de uma empresa recebe aumento salarial anualmente: Sabe-se que: Esse funcionário foi contratado em 1995, com salário inicial de R$ 1.000,00; Em 1996 recebeu aumento de 1,5% sobre seu salário inicial; A partir de 1997 (inclusive), os aumentos salariais sempre correspondem ao dobro do percentual do ano anterior. Crie um algoritmo em R que determine o salário atual desse funcionário. Após concluir isto, altere o programa permitindo que o usuário digite o salário inicial do funcionário

In [165]:
# INSIRA SEU CÓDIGO AQUI
anoi=1995
salarioi=1000
taxa=1.5
anof=2020

for (i in (anoi+2):2020){
  taxa=2*taxa
  salarioi=1000+(1000*taxa/100)
  print(salarioi)
}
print(salarioi+(1000*1.015))

[1] 1030
[1] 1060
[1] 1120
[1] 1240
[1] 1480
[1] 1960
[1] 2920
[1] 4840
[1] 8680
[1] 16360
[1] 31720
[1] 62440
[1] 123880
[1] 246760
[1] 492520
[1] 984040
[1] 1967080
[1] 3933160
[1] 7865320
[1] 15729640
[1] 31458280
[1] 62915560
[1] 125830120
[1] 251659240
[1] 251660255

Crie um algoritmo em R com uma função que necessite de um argumento. A função retorna o valor de caractere ‘P’, se seu argumento for positivo, e ‘N’, se seu argumento for zero ou negativo.

In [167]:
# INSIRA SEU CÓDIGO AQUI
noup <- function(valor){
  if(valor<0){
    return ("N")
  }else{
    return ("P")
  }
}

print(noup(2))

[1] "P"

Construa uma função que receba uma data no formato DD/MM/AAAA e devolva uma string no formato D de mesPorExtenso de AAAA. Opcionalmente, valide a data e retorne NULL caso a data seja inválida.

In [189]:
# INSIRA SEU CÓDIGO AQUI
dataext <- function(data){
  dia <- substr(data,1,2)

  meses <- c("Janeiro",'Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto',
                                       'Setembro','Outubro','Novembro','Dezembro')
  index <- as.integer(substr(data,4,5))
  mesext <- meses[[index]]
  ano <- substr(data,7,10)

  return (paste(dia,mesext,ano,sep=" de "))
}
data=as.character(readline("Digite uma data (DD/MM/AAAA): "))
print(dataext(data))

Digite uma data (DD/MM/AAAA): 20/07/1995
[1] "20 de Julho de 1995"